body{
font-size: 16px;
margin: 0px;

}

/*test*/

@media screen and (max-width: 700px) {

}

nav	{

display: flex;
justify-content: space-between;
background-color: #AA9739;
margin: 0px;
padding: 0px;
align-items: flex-end;

}




#social-media{
	color: green;
	font-size: 1rem;
	font-family: 'Saira Stencil One', cursive;


}


#main-section ul {
	color: white;
	font-family: 'Saira Stencil One', cursive;
	display: flex;
}

#main-section ul li{
	list-style-type: none;
	padding-left: 25px;
}


#social-media ul{
	display: flex;
	list-style-type: none;
}

#social-media ul li{
	padding-left: 25px;
	list-style-type: none;
	padding-right: 25px;
}

#main-links {
	background-image: url(bg.jpg);
	padding-top: 300px;
	padding-bottom: 300px;
	background-size: cover;
	backgroupd-position: center center;
 	color: white;

}

#title {
	margin-right: 80px;
	margin-bottom: 80px;
	text-align: center;


}

#projects {
	margin-right: 80px;
	margin-bottom: 80px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 25px;
	padding: 25px	;
	
}

.website img{
	
transition: transform 0.6s;

}

.website img:hover{
	transform: rotate(720deg);
}



.skill1 img {
	border-radius : 50%;
}

#title2 {
	margin-right: 80px;
	margin-bottom: 80px;
	text-align: center;
}	

#Testimonials {
	margin-right: 80px;
	margin-bottom: 80px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 25px;
	padding: 25px	;
}


.images img {
transition: transform 0.6s;

}

.images img:hover{
 box-shadow: 10px 10px 8px 10px;

}

.nav img {
	transition: transform 0.6s;
}

.nav img:hover{

}

#title3 {
	margin-right: 80px;
	margin-bottom: 80px;
	text-align: center;
}

#skills{
	display: flex;
	text-align: center;
	justify-content: space-around;
	margin: 10px 10px 10px 10px;
	width: 50%

	
}

.skill1 p{
border-radius: 2px;
border-color: black;
border-style: solid;
margin: 10px 10px 10px 10px;




}

#title4 {
	margin-right: 80px;
	margin-bottom: 80px;
	text-align: center;
}	

#workwithme {
	margin-right: 80px;
	margin-bottom: 80px;
	text-align: center;

}